{% extends 'base.html.twig' %}
{% block body %}
	<header>
		<div class="placeholder"></div>
		<div class="header_text">
			<nav>
				<ul class="navibar">
					<li>
						<a href="#">Home</a>
					</li>
					<li>
						<a href="#section_about">About</a>
					</li>
					<li>
						<a href="#">Service</a>
					</li>
					<li>
						<a href="#section_contact">Contact</a>
					</li>
				</ul>
				<button id="navi_button" class="navi_button"><img src="{{ asset('assets/img/navi_button.png') }}"/></button>
			</nav>
			<script src="{{ asset('assets/js/navi.js') }}"></script>
			<script src="{{ asset('assets/js/naviHide.js') }}"></script>
			<h1>I like coding.</h1>
			<p class="subheading">
				Technischer Assistent für Informatik<br/>In Ausbildung: Fachinformatiker für Anwendungsentwicklung
			</p>
		</div>

		<div class="circle">
			<div class="content">
				<img src="{{ asset('assets/img/philipphess.jpg') }}"/>
				<h2>Philipp Hess<br/><span>Web Developer</span>
				</h2>
				<a href="">Hire Me</a>
			</div>
		</div>
	</header>
	{% if app.user %}
		<div class="mb-3">
			You are logged in as
			{{ app.user.userIdentifier }},
			<a href="member">member</a><br>
			<a href="{{ path('app_logout') }}">Logout</a>
		</div>
	{% else %}
		<a href="login" class="btn btn-primary btn-lg">Login</a>
		<a href="register" class="btn btn-primary btn-lg">Register</a>
	{% endif %}
	<section id="section_about">
		<div class="section_about_text">
			<h2>About me</h2>
			<p>Als angehender Programmierer in der Ausbildung liegt mein Schwerpunkt auf der Webentwicklung hauptsächlich im Backend. Ich beherrsche objektorientierte Programmierung, arbeite Test`s und verwende PHP-Bibliotheken, dabei lege ich großen Wert auf die Anwendung von Clean Code-Prinzipien, um qualitativ hochwertigen und gut strukturierten Code zu schreiben. Ich bin stets bestrebt, meine Fähigkeiten weiterzuentwickeln und meinen Code kontinuierlich zu verbessern und zu erweitern.</p>
		</div>
		<div class="lifeline">
			<h2>Lifeline</h2>
			<div class="lifeline_container">
				<div class="lifeline_item">
					2020 - 2022<br/>IFB Berufsfachschule
				</div>
				<div class="lifeline_item">Abschluss: Informatikassistent</div>
				<div class="lifeline_item">
					2022 - 2023<br/>boerse.de Group AG
				</div>
				<div class="lifeline_item">Ausbildung: Fachinformatiker für Anwendungsentwicklung</div>
				<div class="lifeline_item">
					Seit 2023<br/>DGTLS GmbH
				</div>
				<div class="lifeline_item">Ausbildung: Fachinformatiker für Anwendungsentwicklung</div>
			</div>
		</div>
	</section>
	<section id="section_service"></section>
	<footer></footer>
{% endblock %}
